.login-container {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  width: 100%;
  height: 100%;
  position: fixed;
  box-shadow: none;
  padding: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  background: #d0f3e2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #334155;
  text-align: center;

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;

  .input-form {
    padding: 8px;
    border-radius: 10px;
    border-color: aliceblue;
    width: 250px;
    margin: 10px;
    outline: none;
  }

  label {
    font-size: large;
  }

  .input-form:focus {
    border-color: #32cda9;
    box-shadow: 0 0 8px rgba(50, 205, 164, 0.5);
  }

  .image-login {
    margin-bottom: 35px;
    width: 80px;
    height: 80px;
  }
  .espacio {
    height: 10px;
  }

  a {
    color: rgb(49, 164, 126);
    text-decoration: none;
  }

  button {
    background-color: #d0f3e2;
    padding: 3px;
    color: rgb(16, 194, 167);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    margin: 3px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    transition: all 0.6s ease-in-out;
  }

  button:hover {
    background-color: #0ca492;
    color: #dcffef;
  }

  .link-register {
    margin-top: 20px;
  }

  a:hover {
    color: #0e695e;
  }
}
